/* font */

@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
body {
    font-family: 'Oxygen', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    height: 100vh;
    background-color: #f6f7fc;
}

#gradient {
    position: relative;
    background: linear-gradient(45deg, #00ff00, #ff0000);
    width: 250px;
    height: 320px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    margin-bottom: 50px;
    box-shadow: 2px 31px 35px -15px rgba(0, 0, 0, 0.64);
}

input {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    appearance: none;
}

input::-webkit-color-swatch-wrapper {
    padding: 0;
}

input::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

h3 {
    font-weight: 600;
    font-size: 1.5em;
    font-family: inherit;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
    width: 100%;
}